<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script src="../../../../node_modules/jquery/dist/jquery.js"></script>
    <script>
      function fetch(options) {
        const p = new Promise((resolve, reject) => {
          $.ajax({
            url: options.url,
            type: options.type || "GET",
            data: options.data || {},
            dataType: options.dataType || "json",
            success: resolve,
            error: reject
          });
        });
        return p;
      }

      fetch({
        url: "http://localhost:8888/api/private/v1/login",
        data:{
          username:'admin',
          password:'123456'
        }
      })
        .then(res => {
          console.log(res);
        })
        .catch(err => {
          console.log(err);
        });
    </script>
  </body>
</html>
