.top-container {
  height: 100%;
}
.top-container .el-row h1 {
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.top-container .el-row .right {
  height: 60px;
  line-height: 60px;
  text-align: right;
  padding-right: 30px;
}
.top-container .el-row .right a {
  color: green;
}
.el-aside {
  background: #40a2c9;
}
.el-main {
  background: #fff;
}
